Repository FitZen/fitzen, pull requests merged in 2023-08, with the labels that each got.

#16 Add protection for protected routes
  backend/middleware/authMiddleware.js
  backend/models/userModel.js
  backend/routes/userRoutes.js
Labels: enhancement

#23 Set way to get data for top navbar
  backend/controllers/userController.js
  backend/middleware/authMiddleware.js
  backend/models/userModel.js
  backend/routes/userRoutes.js
Labels: backend, node, express

#24 Tmg schedule UI changes
  backend/controllers/userController.js
  frontend/src/components/AdminNavbar.jsx
  frontend/src/components/Login.jsx
  frontend/src/components/Navbar.jsx
  frontend/src/components/ReceiptionistNavbar.jsx
  frontend/src/components/ShakebarmanagerNavbar.jsx
  frontend/src/components/TrainerNavbar.jsx
  frontend/src/pages/member/EditProfile.jsx
  frontend/src/pages/member/Schedule.jsx
Labels: frontend, React, css

#35 Tmg own membership UI
  frontend/src/App.js
  frontend/src/pages/member/AllocatedTrainerProfile.jsx
  frontend/src/pages/member/OwnMembership.jsx
  frontend/src/pages/member/Packages.jsx
Labels: frontend, React

#37 Modify backend
  backend/controllers/announcementController.js
  backend/controllers/complaintController.js
  backend/controllers/userController.js
  backend/middleware/authMiddleware.js
  backend/models/announcementModel.js
  backend/models/complaintModel.js
  backend/models/userModel.js
  backend/routes/announcementRoutes.js
  backend/routes/complaintRoutes.js
  backend/routes/userRoutes.js
  backend/server.js
Labels: backend, js, node, express

#42 Tmg logout fontend config
  backend/controllers/userController.js
  backend/routes/userRoutes.js
  frontend/src/components/AdminNavbar.jsx
  frontend/src/components/Login.jsx
  frontend/src/components/Navbar.jsx
  frontend/src/components/PhysiotherapistNavbar.jsx
  frontend/src/components/ReceiptionistNavbar.jsx
  frontend/src/components/ShakebarmanagerNavbar.jsx
  frontend/src/components/TrainerNavbar.jsx
  frontend/src/pages/member/Dashboard.jsx
Labels: frontend, React

#44 Tmg navbar display features
  backend/controllers/userController.js
  backend/routes/userRoutes.js
  frontend/src/components/AdminNavbar.jsx
  frontend/src/components/Navbar.jsx
  frontend/src/components/PhysiotherapistNavbar.jsx
  frontend/src/components/ReceiptionistNavbar.jsx
  frontend/src/components/ShakebarmanagerNavbar.jsx
  frontend/src/components/TrainerNavbar.jsx
Labels: frontend, backend, React, js

#46 Set to retrieve and view announcements from the database.
  backend/routes/announcementRoutes.js
  frontend/src/pages/admin/Announcement.jsx
Labels: frontend, backend

#43 Add & view goals
  backend/controllers/goalController.js
  backend/models/goalModel.js
  backend/routes/goalRoutes.js
  backend/server.js
Labels: enhancement, backend, js, node, express

#47 Tmg add announcement admin
  backend/controllers/announcementController.js
  backend/routes/announcementRoutes.js
  frontend/src/pages/admin/Announcement.jsx
Labels: frontend, backend

#49 Add & view meal plan
  backend/controllers/mealPlanController.js
  backend/controllers/userController.js
  backend/models/mealPlanModel.js
  backend/routes/mealPlanRoutes.js
  backend/server.js
Labels: enhancement, backend, js, node, express

#48 Nas add physical member
  backend/controllers/complaintController.js
  backend/controllers/memberController.js
  backend/models/complaintModel.js
  backend/models/memberModal.js
  backend/routes/announcementRoutes.js
  backend/routes/memberRoutes.js
  backend/server.js
Labels: bug, backend, js, node

#57 Tmg view notifications
  backend/controllers/userController.js
  frontend/src/pages/member/Notification.jsx
  frontend/src/pages/trainer/Notification.jsx
Labels: frontend, backend

#63 Tmg add receptionist
  backend/controllers/receptionistController.js
  backend/routes/receptionistRoutes.js
  frontend/src/App.js
  frontend/src/pages/admin/Employees.jsx
  frontend/src/pages/admin/ReceptionView.jsx
Labels: frontend, backend
