Repository FitZen/fitzen, pull requests merged in 2023-11, with the labels that each got.

#127 adh-Complete buy trainer package
  _data.txt
  backend/controllers/trainerPackageController.js
  backend/models/contractModel.js
  backend/routes/trainerPackageRoutes.js
  backend/server.js
Labels: backend, new feature

#128 Nas update shedule status
  backend/controllers/scheduleController.js
  backend/models/scheduleModel.js
  backend/routes/scheduleRoutes.js
Labels: backend, express

#130 Tmg correct runtime error
  backend/controllers/scheduleController.js
  backend/routes/scheduleRoutes.js
  frontend/src/pages/member/Schedule.jsx
  frontend/src/pages/trainer/Schedule.jsx
Labels: enhancement, frontend, backend

#134 adh-Place shakebar order - Backend
  backend/controllers/checkoutController.js
  backend/models/shakebarOrderModel.js
  backend/routes/checkoutRoutes.js
  frontend/src/pages/member/Shakebar.jsx
  package.json
Labels: enhancement, backend, express

#139 Test for supervisors
  backend/controllers/notificationController.js
  backend/controllers/scheduleController.js
  backend/controllers/trainerPackageController.js
  backend/models/contractModel.js
  backend/routes/trainerPackageRoutes.js
  frontend/public/Profile/tr0001.jpg
  frontend/src/pages/admin/Announcement.jsx
  frontend/src/pages/admin/Complaint.jsx
  frontend/src/pages/admin/Dashboard.jsx
  frontend/src/pages/member/Dashboard.jsx
  frontend/src/pages/member/Instructors.jsx
  frontend/src/pages/member/MealPlan.jsx
  frontend/src/pages/member/Notification.jsx
  frontend/src/pages/member/Packages.jsx
  frontend/src/pages/member/Reports.jsx
  frontend/src/pages/member/Schedule.jsx
  frontend/src/pages/trainer/Dashboard.jsx
  frontend/src/pages/trainer/Mealplan.jsx
  frontend/src/pages/trainer/Notification.jsx
  frontend/src/pages/trainer/Progress.jsx
  frontend/src/pages/trainer/Report.jsx
  frontend/src/pages/trainer/Schedule.jsx
  frontend/src/pages/trainer/Shakebar.jsx
  frontend/src/pages/trainer/Students.jsx
Labels: enhancement, frontend, backend, React, js, node, express
