Repository FitZen/fitzen, pull requests merged in 2023-10, with the labels that each got.

#101 adh - View instructor ratings
  backend/controllers/ratingsController.js
  backend/models/physiotherapistModel.js
  backend/models/ratingsModel.js
  backend/models/trainerModel.js
  backend/routes/ratingsRoutes.js
  backend/server.js
Labels: enhancement, backend, new feature

#99 Bug fixed in admin cards
  backend/controllers/goalController.js
  backend/controllers/mealPlanController.js
  backend/controllers/memberController.js
  backend/controllers/physiotherapistController.js
  backend/controllers/receptionistController.js
  backend/controllers/shakebarManagerController.js
  backend/controllers/trainerController.js
  backend/controllers/userController.js
  backend/models/complaintModel.js
  backend/models/memberModal.js
  backend/models/physiotherapistModel.js
  backend/models/receptionistModel.js
  backend/models/shakebarItemsModal.js
  backend/models/shakebarManagerModel.js
  backend/models/trainerModel.js
  backend/models/userModel.js
Labels: bug, backend

#102 Tmg display ratings
  backend/controllers/ratingsController.js
  backend/models/ratingsModel.js
  backend/routes/ratingsRoutes.js
  frontend/src/pages/member/InstructorProfile.jsx
  frontend/src/pages/member/Instructors.jsx
Labels: frontend, backend, React

#106 Tmg member task adding
  backend/controllers/scheduleController.js
  backend/models/scheduleModel.js
  backend/routes/scheduleRoutes.js
  backend/server.js
  frontend/src/pages/member/Schedule.jsx
  frontend/src/styles/member/ScheduleStyles.css
Labels: frontend, backend, React, css, js, node

#108 Tmg view each day member tasks
  backend/controllers/scheduleController.js
  backend/models/scheduleModel.js
  backend/routes/scheduleRoutes.js
  frontend/src/pages/member/Schedule.jsx
  frontend/src/pages/member/ScheduleTask.jsx
  frontend/src/styles/member/ScheduleStyles.css
Labels: enhancement, frontend, backend, React, node

#109 Tmg member schedule enhancement
  backend/controllers/scheduleController.js
  backend/models/scheduleModel.js
  backend/routes/scheduleRoutes.js
  frontend/src/pages/member/Dashboard.jsx
  frontend/src/pages/member/Schedule.jsx
  frontend/src/pages/member/ScheduleTask.jsx
  frontend/src/styles/member/ScheduleStyles.css
Labels: frontend, backend, React, css, js, node

#110 Tmg shakebar items operations
  backend/controllers/shakebarItemController.js
  frontend/public/Shakebar/IT0001.jpg
  frontend/public/Shakebar/IT0002.jpg
  frontend/public/Shakebar/IT0003.jpg
  frontend/public/Shakebar/IT0004.jpg
  frontend/public/Shakebar/IT0005.jpg
  frontend/public/Shakebar/IT0006.jpg
  frontend/public/Shakebar/IT0007.jpg
  frontend/public/Shakebar/IT0008.jpg
  frontend/public/Shakebar/IT0009.jpg
  frontend/public/Shakebar/IT0010.jpg
  frontend/public/Shakebar/item.jpg
  frontend/src/pages/member/Shakebar.jsx
  frontend/src/pages/shakebarmanager/AddnewItem.jsx
  frontend/src/pages/shakebarmanager/Items.jsx
Labels: enhancement, frontend, React

#111 Tmg fixing runtime error
  frontend/src/pages/member/Dashboard.jsx
  frontend/src/pages/member/Shakebar.jsx
Labels: frontend, React

#113 Tmg add to cart functionality
  frontend/src/pages/member/InstructorProfile.jsx
  frontend/src/pages/trainer/Dashboard.jsx
  frontend/src/pages/trainer/NewRequests.jsx
Labels: enhancement, frontend, React

#114 adh-Partially complete request handling part
  _data.txt
  backend/controllers/requestController.js
  backend/models/requestModel.js
  backend/routes/requestRoutes.js
  backend/server.js
Labels: enhancement, backend, node, express

#116 Tmg cart creation
  frontend/src/pages/member/Shakebar.jsx
Labels: enhancement, frontend, React

#118 adh-Notification part
  backend/controllers/notificationController.js
  backend/models/notificationModel.js
  backend/routes/notificationRoutes.js
  backend/server.js
Labels: backend, node, express, new feature

#119 adh-Modify shakebarOrders part
  backend/controllers/shakebarOrderController.js
  backend/models/shakebarOrderModel.js
  backend/routes/shakebarRoutes.js
Labels: backend

#120 Tmg cart integration
  backend/controllers/checkoutController.js
  frontend/src/pages/member/Shakebar.jsx
Labels: enhancement, frontend, backend, React, node

#122 Tmg trainer package buying
  backend/controllers/trainerPackageController.js
  backend/routes/trainerPackageRoutes.js
  backend/server.js
  frontend/src/pages/member/InstructorProfile.jsx
Labels: enhancement, frontend, backend, React, node

#126 Nas chat implementation
  backend/config/db.js
  backend/controllers/chatController.js
  backend/controllers/messageController.js
  backend/controllers/userController.js
  backend/models/chatModel.js
  backend/models/messageModel.js
  backend/routes/chatRoutes.js
  backend/routes/messageRoutes.js
  backend/routes/userRoutes.js
  backend/server.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/api/ChatRequests.js
  frontend/src/components/ChatBox.jsx
  frontend/src/components/Conversation.jsx
  frontend/src/pages/Chat/Chat.css
  frontend/src/pages/Chat/Chat.jsx
  frontend/src/pages/Chat/ChatBox.css
  package-lock.json
  package.json
  socket/.gitignore
  socket/index.js
  socket/package-lock.json
  socket/package.json
Labels: frontend, backend
