Repository FitZen/fitzen, pull requests merged in 2023-09, with the labels that each got.

#68 Tmg view students from admin
  backend/controllers/trainerController.js
  backend/models/memberModal.js
  backend/models/trainerModel.js
  backend/routes/memberRoutes.js
  backend/routes/trainerRoutes.js
  backend/server.js
  frontend/src/App.js
  frontend/src/pages/admin/InstructorList.jsx
  frontend/src/pages/admin/Instructors.jsx
  frontend/src/pages/admin/MemberList.jsx
  frontend/src/pages/admin/Members.jsx
  frontend/src/pages/admin/ReceptionView.jsx
Labels: frontend, backend, React, node

#69 Tmg view physiotherapist list
  backend/controllers/physiotherapistController.js
  backend/models/physiotherapistModel.js
  backend/routes/physiotherapistRoutes.js
  backend/server.js
  frontend/src/pages/admin/InstructorList.jsx
  frontend/src/pages/admin/Instructors.jsx
Labels: frontend, backend, React, node

#70 Tmg set profile details
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/pages/admin/Announcement.jsx
  frontend/src/pages/admin/InstructorList.jsx
  frontend/src/pages/admin/MemberList.jsx
  frontend/src/pages/admin/Profile.jsx
  frontend/src/pages/admin/ReceptionView.jsx
  frontend/src/pages/member/Goals.jsx
  frontend/src/pages/member/Profile.jsx
  frontend/src/pages/member/Reports.jsx
  frontend/src/pages/member/Schedule.jsx
  frontend/src/pages/member/ScheduleTask.jsx
  frontend/src/pages/physiotherapist/Profile.jsx
  frontend/src/pages/receiptionist/Profile.jsx
  frontend/src/pages/shakebarmanager/Profile.jsx
  frontend/src/pages/trainer/Mealplan.jsx
  frontend/src/pages/trainer/Profile.jsx
  frontend/src/pages/trainer/Report.jsx
Labels: frontend, React

#71 Apc view membership plan
  backend/controllers/membershipPlansController.js
  backend/models/membershipPlansModel.js
  backend/routes/membershipPlansRoutes.js
  backend/server.js
Labels: enhancement, backend, new feature

#72 Nas add and view shakebar item new
  backend/controllers/shakebarItemController.js
  backend/controllers/uploadController.js
  backend/middleware/uploader.js
  backend/models/shakebarItemsModal.js
  backend/routes/shakebarRoutes.js
  backend/routes/uploadRoutes.js
  backend/server.js
Labels: backend, node, express

#73 Fixed the package json file
  backend/middleware/uploader.js
  package-lock.json
  package.json
Labels: backend

#74 Tmg shakebar item adding
  frontend/src/assets/avatar.jpg
  frontend/src/pages/admin/Profile.jsx
  frontend/src/pages/member/Profile.jsx
  frontend/src/pages/physiotherapist/Profile.jsx
  frontend/src/pages/receiptionist/Profile.jsx
  frontend/src/pages/shakebarmanager/AddnewItem.jsx
  frontend/src/pages/shakebarmanager/Profile.jsx
  frontend/src/pages/trainer/Profile.jsx
Labels: frontend, React

#75 Add membership plan feature
  backend/controllers/membershipPlansController.js
  backend/controllers/userController.js
  backend/models/membershipPlansModel.js
  backend/routes/membershipPlansRoutes.js
  backend/routes/userRoutes.js
  backend/server.js
Labels: backend, node, express, new feature

#76 Tmg add membership plans
  backend/routes/userRoutes.js
  frontend/src/components/AdminNavbar.jsx
  frontend/src/components/Navbar.jsx
  frontend/src/components/PhysiotherapistNavbar.jsx
  frontend/src/components/ReceiptionistNavbar.jsx
  frontend/src/components/ShakebarmanagerNavbar.jsx
  frontend/src/components/TrainerNavbar.jsx
  frontend/src/pages/admin/Announcement.jsx
  frontend/src/pages/member/EditProfile.jsx
  frontend/src/pages/receiptionist/Dashboard.jsx
Labels: enhancement, frontend, backend, React

#77 Add trainer
  backend/controllers/receptionistController.js
  backend/controllers/trainerController.js
  backend/models/trainerModel.js
  backend/routes/trainerRoutes.js
  backend/routes/userRoutes.js
  backend/utils/EmpRegMailTemplate.js
Labels: backend, node, express, new feature

#78 Tmg virtual member registration
  frontend/src/App.js
  frontend/src/components/SignUP.jsx
  frontend/src/pages/member/OwnMembership.jsx
  frontend/src/pages/receiptionist/MemberProfile.jsx
  frontend/src/pages/receiptionist/Members.jsx
Labels: frontend, React

#79 Nas-Add physical member
  backend/controllers/memberController.js
  backend/models/memberModal.js
Labels: backend, node

#80 adh - add physiotherapist
  backend/controllers/physiotherapistController.js
  backend/models/physiotherapistModel.js
  backend/routes/physiotherapistRoutes.js
  backend/routes/trainerRoutes.js
Labels: backend, node, express, new feature

#81 adh - add shakebar manager
  backend/controllers/shakebarManagerController.js
  backend/models/shakebarManagerModel.js
  backend/routes/shakebarManagerRoutes.js
  backend/server.js
Labels: backend, node, express, new feature

#82 Tmg instructor view from member
  frontend/src/App.js
  frontend/src/assets/Uploads/Profile/ben-den-engelsen-YUu9UAcOKZ4-unsplash.jpg
  frontend/src/assets/Uploads/Profile/christina-wocintechchat-com-SJvDxw0azqw-unsplash.jpg
  frontend/src/assets/Uploads/Profile/jake-nackos-IF9TK5Uy-KI-unsplash.jpg
  frontend/src/assets/Uploads/Profile/james-timothy-Kh3aTWwMH1I-unsplash.jpg
  frontend/src/assets/Uploads/Profile/jd-mason-2oUiUu5QAys-unsplash.jpg
  frontend/src/assets/Uploads/Profile/jonas-kakaroto-KIPqvvTOC1s-unsplash.jpg
  frontend/src/assets/Uploads/Profile/joseph-gonzalez-iFgRcqHznqg-unsplash.jpg
  frontend/src/assets/Uploads/Profile/roland-cousins-3GTHyh2lo9o-unsplash.jpg
  frontend/src/assets/Uploads/Profile/sab-qadeer-nP2UzV4liWQ-unsplash.jpg
  frontend/src/assets/Uploads/Profile/stephanie-liverani-Zz5LQe-VSMY-unsplash.jpg
  frontend/src/assets/Uploads/Profile/tamarcus-brown-29pFbI_D1Sc-unsplash.jpg
  frontend/src/pages/member/InstructorProfile.jsx
  frontend/src/pages/member/Instructors.jsx
  frontend/src/pages/receiptionist/InstructorProfile.jsx
  frontend/src/pages/receiptionist/Instructors.jsx
Labels: frontend, React

#83 adh - Add profile pics
  frontend/src/assets/Uploads/Profile/ad0001.jpg
  frontend/src/assets/Uploads/Profile/ad0002.jpg
  frontend/src/assets/Uploads/Profile/pm0001.jpg
  frontend/src/assets/Uploads/Profile/pm0002.jpg
  frontend/src/assets/Uploads/Profile/pt0001.jpg
  frontend/src/assets/Uploads/Profile/pt0002.jpg
  frontend/src/assets/Uploads/Profile/rt0001.jpg
  frontend/src/assets/Uploads/Profile/rt0002.jpg
  frontend/src/assets/Uploads/Profile/sm0001.jpg
  frontend/src/assets/Uploads/Profile/sm0002.jpg
  frontend/src/assets/Uploads/Profile/tr0001.jpg
  frontend/src/assets/Uploads/Profile/tr0002.jpg
  frontend/src/assets/Uploads/Profile/vm0001.jpg
  frontend/src/assets/Uploads/Profile/vm0002.jpg
Labels: frontend

#85 Tmg test new
  backend/routes/shakebarManagerRoutes.js
  frontend/public/Profile/ad0001.jpg
  frontend/public/Profile/ad0002.jpg
  frontend/public/Profile/pm0001.jpg
  frontend/public/Profile/pm0002.jpg
  frontend/public/Profile/pt0001.jpg
  frontend/public/Profile/pt0002.jpg
  frontend/public/Profile/rt0001.jpg
  frontend/public/Profile/rt0002.jpg
  frontend/public/Profile/sm0001.jpg
  frontend/public/Profile/sm0002.jpg
  frontend/public/Profile/tr0001.jpg
  frontend/public/Profile/tr0002.jpg
  frontend/public/Profile/vm0001.jpg
  frontend/public/Profile/vm0002.jpg
  frontend/src/App.js
  frontend/src/components/AdminNavbar.jsx
  frontend/src/components/Navbar.jsx
  frontend/src/components/PhysiotherapistNavbar.jsx
  frontend/src/components/ReceiptionistNavbar.jsx
  frontend/src/components/ShakebarmanagerNavbar.jsx
  frontend/src/components/TrainerNavbar.jsx
  frontend/src/pages/admin/Employees.jsx
  frontend/src/pages/admin/InstructorList.jsx
  frontend/src/pages/admin/Members.jsx
  frontend/src/pages/admin/Profile.jsx
  frontend/src/pages/admin/ReceptionView.jsx
  frontend/src/pages/member/InstructorProfile.jsx
  frontend/src/pages/member/Instructors.jsx
  frontend/src/pages/member/Profile.jsx
  frontend/src/pages/physiotherapist/Profile.jsx
  frontend/src/pages/receiptionist/InstructorProfile.jsx
  frontend/src/pages/receiptionist/Instructors.jsx
  frontend/src/pages/receiptionist/MemberProfile.jsx
  frontend/src/pages/receiptionist/Members.jsx
  frontend/src/pages/receiptionist/Profile.jsx
  frontend/src/pages/shakebarmanager/Profile.jsx
  frontend/src/pages/trainer/Profile.jsx
Labels: enhancement, frontend, backend, React, node

#88 adh - Admin cards
  backend/controllers/memberController.js
  backend/controllers/physiotherapistController.js
  backend/controllers/receptionistController.js
  backend/controllers/shakebarManagerController.js
  backend/controllers/trainerController.js
  backend/controllers/userController.js
  backend/models/memberModal.js
  backend/models/physiotherapistModel.js
  backend/models/receptionistModel.js
  backend/models/shakebarManagerModel.js
  backend/models/trainerModel.js
  backend/models/userModel.js
  backend/routes/memberRoutes.js
  backend/routes/physiotherapistRoutes.js
  backend/routes/receptionistRoutes.js
  backend/routes/shakebarManagerRoutes.js
  backend/routes/trainerRoutes.js
  backend/routes/userRoutes.js
Labels: backend, express, new feature

#89 Tmg user registration changes
  frontend/src/components/AdminNavbar.jsx
  frontend/src/pages/admin/Dashboard.jsx
  frontend/src/pages/admin/InstructorList.jsx
  frontend/src/pages/admin/MemberList.jsx
  frontend/src/pages/admin/MembershipPlans.jsx
  frontend/src/pages/admin/Profile.jsx
  frontend/src/pages/member/Shakebar.jsx
  frontend/src/pages/receiptionist/Membership.jsx
  frontend/src/pages/shakebarmanager/Dashboard.jsx
  frontend/src/pages/shakebarmanager/Items.jsx
Labels: frontend, React

#92 Tmg admin cards
  backend/routes/memberRoutes.js
  backend/routes/physiotherapistRoutes.js
  backend/routes/trainerRoutes.js
  backend/routes/userRoutes.js
  frontend/src/pages/admin/Dashboard.jsx
  frontend/src/pages/admin/Instructors.jsx
  frontend/src/pages/admin/Members.jsx
Labels: frontend, backend, React

#94 Tmg add instructors
  backend/controllers/physiotherapistController.js
  backend/controllers/shakebarManagerController.js
  backend/controllers/trainerController.js
  backend/routes/physiotherapistRoutes.js
  backend/routes/trainerRoutes.js
  frontend/src/pages/admin/InstructorList.jsx
Labels: enhancement, frontend, backend, React
